<!DOCTTYPE html>
<html>
    <head>
        <title>Baeminfresh</title>
        <link rel="stylesheet" href="{{cdn}}/css/common.bundle.css">
    </head>
    <body>
        <h1>Main</h1>
        <p>Hello {{name}}</p>
        <button id="btn">Click me</button>
        

        <script src="{{cdn}}/js/common.bundle.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
